

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rebeccapurple;
    font-size: 45px;
    background-color: black;
    padding: 59px;
    text-decoration: underline gold;
   

}
.body {
   background-color:goldenrod;
    
}


.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    padding-top: 5%;
    

}
#startButton {
    display: flex;
    position: absolute;
    left: 45%;
    top: 50%;
    
    
    

}
/* Hides these IDs when webpage is launched */
#score-text, #game-over, #show-score, #game-text {
    display: none;


}
/* positions the questions class */
.questions {
    display: flex;
    position: absolute;
    left: 35%;
    top: 50%;
    
}
/* positions the answers class */
.answers {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 45%;
    top: 60%;
   
    
}

#next {
    display: none;
    top: 70%;
}
/* positions and custimizes timer text */
#timer-text {
    display: flex ;
    position: fixed;
    flex-direction: column;
    right: 42%;
    top: 30%;
    font-size: x-large;
    color: blueviolet;



}
/* positions and customizes the timer  */
#timer {
    display: flex ;
    position: fixed;
    flex-direction: column;
    right: 36%;
    top: 30%;
    font-size: x-large;
    color: blueviolet;

}
footer {
    position: absolute;
    bottom: 2%;
    left: 42%;
}
