

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rebeccapurple;
    font-size: 45px;
    background-color: black;
    padding: 59px;
    text-decoration: underline gold;
   

}
.body {
   background-color:goldenrod;
    
}


.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    padding-top: 5%;

}
#startButton {
    display: flex;
    position: absolute;
    left: 45%;
    top: 50%;
    
    
    

}
.questions {
    display: flex;
    position: absolute;
    left: 35%;
    top: 50%;
    
}

.answers {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 45%;
    top: 60%;
    
}

#next {
    display: none;
    top: 70%;
}
#timer {
    display: none;
}
footer {
    position: absolute;
    bottom: 2%;
    left: 42%;
}
